<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&display=swap");
    </style>
    <link rel="icon" href="/images/train.png" type="image/png" />

    <title><%=title%></title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%-include('header.ejs')%>
        <h6 class="py-4">Signup as a new user</h6>
        <form action="/users" method="post">
          <!-- Role Selection -->
          <div class="py-3">
            <label for="role">Role</label>
            <div class="flex space-x-4">
              <label class="flex items-center">
                <input
                  type="radio"
                  name="role"
                  value="user"
                  class="form-radio"
                  required
                />
                <span class="ml-2">User</span>
              </label>
              <label class="flex items-center">
                <input
                  type="radio"
                  name="role"
                  value="admin"
                  class="form-radio"
                  required
                />
                <span class="ml-2">Admin</span>
              </label>
            </div>
          </div>
        
          <!-- First Name -->
          <div class="py-3">
            <label for="firstName">First Name</label>
            <input
              type="text"
              name="firstName"
              id="firstName"
              class="border border-gray-300 text-gray-900 rounded p-2 w-full"
              required
            />
          </div>
        
          <!-- Last Name -->
          <div class="py-3">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              name="lastName"
              id="lastName"
              class="border border-gray-300 text-gray-900 rounded p-2 w-full"
            />
          </div>
        
          <!-- Email -->
          <div class="py-3">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="border border-gray-300 text-gray-900 rounded p-2 w-full"
              required
            />
          </div>
        
          <!-- Password -->
          <div class="py-3">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="border border-gray-300 text-gray-900 rounded p-2 w-full"
              required
            />
          </div>
        
          <!-- Submit Button -->
          <button
            type="submit"
            class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"
          >
            Sign up
          </button>
        </form>
        
      </div>
    </div>
    <%-include('footer.ejs')%>
  </body>
</html>
